@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&family=Yellowtail&display=swap');
@import "tailwindcss";
@import "./tailwind.config.css";

@layer base {
  html, body {
    height: 100%;
    margin: 0;
    background-color: white;
  }

  #app {
    height: 100%;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

